.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background: #fff;
  padding: 20px;
  width: 50%;
  /* height: 60vh; */
  /* max-width: 450px; */
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
}
.submit-button {
  background-color: #007bff;
  color: #fff;
  margin-top: 10px;
  border-radius: 5px;
  width: 80px;
  height: 30px;
  border: none;
}

.form {
  display: flex;
  flex-direction: column;
  /* gap: 15px; */
  /* width: '60%'; */
  align-items: center;
  justify-content: center;
}

label {
  /* font-weight: bold;
  text-align: left; */
}
.label-text {
  text-align: center;
  padding: 10px;
}

input {
  width: 80%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

input:focus {
  border-color: #007bff;
  outline: none;
}

@media (max-width: 480px) {
  .modal-content {
    width: 95%;
  }
}
